* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
    font-family: "Roboto Light";
    background-color: #64ae72;
    width: 100vw;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

nav {

    display: flex;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100vw;
    position: absolute;
    z-index: 10;
    padding-bottom: 100px;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
    background-color: #64ae72;
}

nav a:hover {
    background-color: #E6C613;
    color: #64ae72;
}

#geschiedenis  {
    padding-top: 20px;
}

div, section {
    box-sizing: border-box;
}

h1 {
    color: #64ae72;
    margin: 0;
    font-size: 4em;
    font-weight: bolder;
}

h2 {
    font-size: 3.3em;
    margin: 0;
    color: white;
}

p {
    margin-bottom: 70px;
}

section {
    margin: 20px;
}

section.info {
    padding: 18px 54px;
    font-size: 1.3em;
    line-height: 1.8em;
    margin-bottom: 220px;
    padding-bottom: 80px;
    background-color: white;
    overflow: hidden;
    overflow-wrap: break-word;
}

#poster {
    padding: 18px 54px;
    line-height: 1.8em;
    margin-bottom: 220px;
    padding-bottom: 80px;
    overflow: hidden;
}

header {
    text-align: center;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #E6C613;
    text-align: center;
    color: white;
    padding: 20px 20px;
    min-height: 220px;
    display: block;
}

#footerTxt {
    font-size: 8vh;
}

@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: static;
        padding-bottom: 20px;
    }
    section {
        max-width: 90%;
    }
    #poster {
        max-width: 90%;
    }
}

